<!DOCTYPE html>
<html>
<head>
	<title>NoteKing</title>
	<style media="screen">
			/*----- Tabs -----*/
		.tabs {
		    width:100%;
		    display:inline-block;
		}

		    /*----- Tab Links -----*/
		    /* Clearfix */
		    .tab-links {
		    	margin-bottom: 0px;
		    }
		    .tab-links:after {
		        display:block;
		        clear:both;
		        content:'';
		    }
		 
		    .tab-links li {
		        margin:0px 5px;
		        float:left;
		        list-style:none;
		    }
		 
		        .tab-links a {
		            padding:9px 15px;
		            display:inline-block;
		            border-radius:3px 3px 0px 0px;
		            background:#7FB5DA;
		            font-size:16px;
		            font-weight:600;
		            color:#4c4c4c;
		            transition:all linear 0.15s;
		        }
		 
		        .tab-links a:hover {
		            background:#a7cce5;
		            text-decoration:none;
		        }
		 
		    li.active a, li.active a:hover {
		        background:#fff;
		        color:#4c4c4c;
		    }
		 
		    /*----- Content of Tabs -----*/
		    .tab-content {
		        padding:15px;
		        border-radius:3px;
		        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
		        background:#fff;
		        width: auto;
		    }
		 
		        .tab {
		            display:none;
		            width: auto;
		        }
		 
		        .tab.active {
		            display:block;
		        }
		body {
			background: #7F7F7F;
		}
	</style>
	<style media="print">
		.noPrint {
			display: none;
		}
		.yesPrint {
			display: block !important;
		}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="lib/ASCIIMathMLwFallback.js"></script>
	<script type="text/javascript" src="notificator.js"></script>
	<script type="text/javascript" src="lib/markdown.js"></script>
    <script type="text/javascript" src="lib/insertatcursor.js"></script>
	<script>
		var LIST_OF_TAGS = ["thm", "eq", "img", "h1"];
		var STARTING_CHARS = {"thm": "", "eq": "$eq$", "img": "![](files/", "h1": "", "h2": "", "h3": "###"};
		var ENDING_CHARS = {"thm": "", "eq": "$eq$", "img": " \"\")", "h1": "\n===", "h2": "\n---", "h3": "###"};

		jQuery(document).ready(function() {
		    jQuery('.tabs .tab-links a').on('click', function(e)  {
		        var currentAttrValue = jQuery(this).attr('href');
		 
		        // Show/Hide Tabs
		        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
		 
		        // Change/remove current tab to active
		        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
		 
		        e.preventDefault();
		    });
		});

		function updateCompiled(){
			document.getElementById('compiled').innerHTML = markdown.toHTML(changeAllTags(document.getElementById("editor").value, STARTING_CHARS, ENDING_CHARS));
			generic();
		}

		function showOutline() {
			console.log("Outline");
			document.getElementById('tab2').innerHTML = markdown.toHTML(makeOutline(document.getElementById("editor").value));
		}
		function showTheorems() {
			console.log("Theorems");
			document.getElementById("tab3").innerHTML = markdown.toHTML(filterTags(document.getElementById("editor").value, "thm", STARTING_CHARS["thm"]));
		}
		function showEquations() {
			console.log("Equations");
			document.getElementById("Equations").innerHTML = markdown.toHTML(filterEqns(document.getElementById("editor").value, STARTING_CHARS["eq"]));
			generic();
		}
        function addTheorem() {
            $('#editor').insertAtCaret("\\thm "," \\thm*");
        }
        function addEquation() {
            $('#editor').insertAtCaret("\\eq "," \\eq*");
        }
        function addHead(size) {
            $('#editor').insertAtCaret("\\h"+size+' ', " \\h"+size+"*")
        }
        function addBold() {
            $('#editor').insertAtCaret("**","**");
        }
        function addItalic() {
            $('#editor').insertAtCaret("*","*");
        }
        function addQuote() {
            $('#editor').insertAtCaret('> ','');
        }
        function addCode() {
            $('#editor').insertAtCaret('```\n','\n```');
        }
        function addHR() {
            $('#editor').insertAtCaret('---','');
        }
        function addLink() {
            url = prompt("Enter url","http://");
            $('#editor').insertAtCaret("[Link text","]("+url+")");
            updateCompiled();
        }
		function addImage() {
			document.getElementById("image_input").click();
		}
		function imageSubmitted(){
			document.getElementById('imageForm').submit();
			var full_filepath = document.getElementById('image_input').value;
			var filename = full_filepath.substr(full_filepath.lastIndexOf("\\") + 1, full_filepath.length);
			//window.alert("Add \"\\img " + filename + "\\img*\" wherever you want this image to appear."); 
            $('#editor').insertAtCaret("\\img" + filename + "\\img*", "");
            updateCompiled();
		}
		function saveToFile(type){
			$.post("/saveToFile", {"data": (type == 'raw')?$('#editor').val():$('#compiled').html(), "type": type, name: $('#file_select').val()}, function(data){
				window.alert("Successfully saved to file!");
			});
		}
		function printPDF(){
			$.post('/printerFriendly', {data: $('#compiled').html()}, function(){
				window.open('printerFriendly');
			});
		}
		function notebook_select_changed(){	
			$('.from_listing').remove();
			if($('#notebook_select').val() == ""){
				$('#file_select').attr('disabled', 'disabled');	// Change file_select state
				$('#title_label').css('display', 'initial');
				$('#file_select_button').text('Create');// Change file_select_button state
				$('#create_text').css('display', 'initial');// Change create_text state
			}else{
				$('#file_select').removeAttr('disabled');	//Change file_select state
				$.get('/file_listing/' + $('#notebook_select').val(), function(result){
					var arr = result;//JSON.parse(result);
					for(var i = 0; i < arr.length; i++)
						$('#file_select').html($('#file_select').html() + "<option class='from_listing' val='" + arr[i].substr(0, arr[i].length - 4) + 
							"'>" + arr[i].substr(0, arr[i].length - 4) + "</option>");
				});
			}
		}
		function file_select_changed(){
			if($('#file_select').val() == ""){
				$('#title_label').css('display', 'initial');
				$('#file_select_button').text('Create');// Change file_select_button state
				$('#create_text').css('display', 'initial');// Change create_text state
			}
			else{
				$('#title_label').css('display', 'none');
				$('#file_select_button').text('Open');// Change file_select_button state
				$('#create_text').css('display', 'none');// Change create_text state
			}

		}
		function file_select_button_clicked(){
			if($('#notebook_select').val() == ""){
				//create notebook
				$.post('/createNotebook', {name: $('#create_text').val()}, function(result){
					alert("New Notebook " + result + " created!");
					//Add the new notebook option selected to the notebook_select
					$('#notebook_select').html($('#notebook_select').html() + "<option val='" + result + "'selected>" + result + "</option>");
					notebook_select_changed();
				});
			}
			else if($('#file_select').val() == ""){
				//create note
				$.post('/createNote', {name: $('#create_text').val()}, function(result){
					alert("New Note " + result + " created!");
					//Add the new note option selected to the file_select
					$('#file_select').html($('#file_select').html() + "<option class='from_listing' val='" + result.substr(0, result.length - 4) + "'selected>" + result.substr(0, result.length - 4) + "</option>");
					file_select_changed();
				});
			}
			else{
				$.post('/openNote', {name: $('#file_select').val()}, function(result){
					$('#editor').val(result);
					updateCompiled();
				});
			}
		}
		window.onload = function(){
			$.get('/directory_listing', function(result){
				var arr = result;
				for(var i = 0; i < arr.length; i++)
					$('#notebook_select').html($('#notebook_select').html() + "<option val='" + arr[i] + "'>" + arr[i] + "</option>");
			});
		}
	</script>
</head>
<body>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Editor</a></li>
        <li><a href="#tab2" onclick="showOutline()">Outline</a></li>
        <li><a href="#tab3" onclick="showTheorems()">Theorems</a></li>
        <li><a href="#tab4" onclick="showEquations()">Equations</a></li>
    	<span style="float: right">
    		<!-- <label id="title_label" for="note_title">Title: </label> -->
    		<input id="create_text" type="text" placeholder='Enter New Title Here' id="title"/>
    		<label for="notebook_select">Notebook:</label>
    		<select id="notebook_select" onchange="notebook_select_changed();">
    			<option value=''>--- New Notebook ---</option>
    		</select>
    		<label for="file_select">File:</label>
	    	<select id="file_select" onchange="file_select_changed();" disabled>
	    		<option value=''>--- New Note ---</option>
	    	</select>
    		<button id="file_select_button" style="margin-right: 25px;" onclick="file_select_button_clicked();">Create</button>
    	</span>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
		    <div id="submenubar">
		    	<button onclick="addTheorem()">Theorem</button>
		    	<button onclick="addEquation()">Equation</button>
		    	<button onclick="addImage()">Image</button>
                <button onclick="addLink()">Link</button>
                <button onclick="addHead('1')">H1</button>
                <button onclick="addHead('2')">H2</button>
                <button onclick="addHead('3')">H3</button>
                <button onclick="addBold()">B</button>
                <button onclick="addItalic()">I</button>
                <button onclick="addQuote()">Quote</button>
                <button onclick="addCode()">Code</button>
                <button onclick="addHR()">HR</button>
		    	<form id="imageForm" action="/img" method="POST" enctype="multipart/form-data">
		    		<input id="image_input" type="file" name="upload" onchange="imageSubmitted();" style="display: none;"/>
		    	</form>
		    	<button onclick="saveToFile('raw');">Save Raw</button>
		    	<!-- <button onclick="saveToFile('HTML');">Save HTML</button> -->
		    	<button onclick="printPDF();">Print PDF</button>
		    	<form id="imageForm" action="/img" method="POST" enctype="multipart/form-data" style="display: none">
		    		<input id="image_input" type="file" name="upload" onchange="imageSubmitted();" style="display: none;"/>
		    	</form>
		    </div>

        	<div style="display: inline-block; width: 48%; padding-right: 20px; vertical-align: top">
            	<textarea id="editor" oninput="updateCompiled()" autofocus style="height: 520px; width: 100%; resize: none;"></textarea>
        	</div>
        	<div id="compiled" style="display: inline-block; width: 48%; padding-left: 20px; vertical-align: top; overflow-y: auto; height: 520px;">
        	</div>
        </div>
 
        <div id="tab2" class="tab">
            <p>Markdown TBD</p>
        </div>
 
        <div id="tab3" class="tab">
            <pre id="Theorems">Theorems TBD</pre>
        </div>
 
        <div id="tab4" class="tab">
            <pre id="Equations">Equations TBD</pre>
        </div>
    </div>
</div>
</body>
</html>